@font-face {
  font-family: "zabras";
  src: url("fonts/zabars.ttf") format("truetype");
}

@font-face {
  font-family: "Bangers";
  src: url("fonts/Bangers.ttf") format("truetype");
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  margin: 0;
  overflow: hidden;
  background-image: url("img/5_background/background2.png");
  background-size: cover;
  background-position: center;
  font-family: "zabras", Arial, Helvetica, sans-serif;
}

canvas {
  background-color: black;
  display: block;
}

h1 {
  font-size: 64px;
  letter-spacing: 5px;
  text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);
}

button {
  height: 50px;
}

a {
  text-decoration: none;
  color: brown;
  &:hover {
    text-decoration: underline;
  }
}
.overlay {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100%;
}

#hud {
  padding: 10px;
}

.panel {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

.panel-wrapper {
  display: flex;
  justify-content: space-between;
  gap: 10px; /* Abstand zwischen den Buttons */
}

button {
  width: 50px;
  height: 50px;
  background-color: #ddd;
  border: 1px solid #aaa;
  border-radius: 5px;
  cursor: pointer;
}

.d_none {
  display: none;
}

.canvas-class {
  display: flex;
  gap: 10px;
}
.canvas-button {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
h3 {
  font-size: 40px;
  margin: 0;
  margin-top: 10px;
  color: brown;
}

.instructions {
  padding: 10px;
  border-radius: 5px;
  display: flex;
  justify-content: center;    
  align-items: center;
  gap: 20px;
}

.instructions p {
  display: flex;
  flex-direction: column; /* Icon und Text untereinander */
  align-items: center; /* Zentriert Icon und Text horizontal */
  gap: 5px; /* Kleiner Abstand zwischen Icon und Text */
}

.key {
  font-weight: bold;
  color: #d55252;
  font-size: 22px;
}

.icon img{
  color: #555;
  height: 60px;
}
.iconrt img {
  height: 60px;
  transform: rotate(
    90deg
  ); 
}
.icond img{
  height: 70px;
}
.toggle-button {
  background: none; /* Entfernt den Standard-Hintergrund */
  border: none; /* Entfernt den Standard-Rahmen */
  cursor: pointer;
  padding: 5px; /* Abstand um das Icon */
}

.button-icon {
  width: 50px; /* Größe des Icons anpassen */
  height: 50px;
  transition: transform 0.3s ease; /* Sanfte Animation für Hover */
}

.guide-button:hover .button-icon {
  transform: scale(1.1); /* Vergrößert das Icon bei Hover */
  filter: brightness(0.8); /* Macht das Icon etwas dunkler, passend zum Spielstil */
}

.toggle-button {
  background: none;
  border: none;
  cursor: pointer;
  padding: 5px;
}

.button-icon {
  width: 30px;
  height: 30px;
  transition: transform 0.3s ease;
}

.guide-button:hover .button-icon {
  transform: scale(1.1);
  filter: brightness(0.8);
}

.mute-button:hover .button-icon {
  transform: scale(1.1);
  filter: brightness(0.8);
}
.main-content {
  flex: 1;
  text-align: center;
}
.impressum {
  h2 {
    font-size: 30px;
  }
  p {
    font-size: 23px;
    font-weight: bold;
  }
}

footer {
  text-align: center;
}

@media (max-width: 720px) {
  canvas {
    width: 100%;
  }
  h1 {
    display: none;
  }
  .overlay {
    display: block;
  }
  .canvas-class button {
    display: none;
  }
}

@media (max-width: 480px) {
  canvas {
    height: 100vh;
  }
}
