@font-face {
  font-family: "Zabars";
  src: url("fonts/Zabars.ttf") format("truetype");
}

@font-face {
  font-family: "Bangers";
  src: url("fonts/Bangers.ttf") format("truetype");
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  margin: 0;
  overflow: hidden;
  background-image: url("img/5_background/background2.png");
  background-size: cover;
  background-position: center;
  font-family: "Zabars";
}

canvas {
  background-color: black;
  display: block;
}

h1 {
  font-size: 64px;
  letter-spacing: 5px;
  text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);
  color: brown;
  font-family: "Zabars";
}

button {
  height: 50px;
}

a {
  text-decoration: none;
  color: brown;
  &:hover {
    text-decoration: underline;
  }
}
.overlay {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#hud {
  padding: 10px;
}

.panel {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

.panel-wrapper {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}
.panel-wrapper-right {
  display: flex;
}

button {
  width: 50px;
  height: 50px;
  background-color: #ddd;
  border: 1px solid #aaa;
  border-radius: 5px;
  cursor: pointer;
}

.d_none {
  display: none;
}

.canvas-class {
  display: flex;
  gap: 10px;
}

.fullscreen {
  width: 100vw !important;
  height: 100vh !important;
}

.canvas-button {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
h3 {
  font-size: 40px;
  margin: 0;
  margin-top: 10px;
  color: brown;
}

.instructions {
  padding: 10px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.instructions p {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}

.key {
  font-weight: bold;
  color: #d55252;
  font-size: 22px;
}

.controls-container {
  position: absolute; 
  top: 50%; 
  left: 50%; 
  transform: translate(-50%, -50%); 
  background-color: rgba(0, 0, 0, 0.8); 
  color: white; 
  padding: 20px; 
  border-radius: 10px; 
  z-index: 10; 
}

.icon img {
  color: #555;
  height: 60px;
}
.iconrt img {
  height: 60px;
  transform: rotate(90deg);
}
.icond img {
  height: 70px;
}
.toggle-button {
  background: none;
  border: none;
  cursor: pointer;
  padding: 5px;
}

.button-icon {
  width: 50px;
  height: 50px;
  transition: transform 0.3s ease;
}

.guide-button:hover .button-icon {
  transform: scale(1.1);
  filter: brightness(0.8);
}

.toggle-button {
  background: none;
  border: none;
  cursor: pointer;
  padding: 5px;
}

.button-icon {
  width: 30px;
  height: 30px;
  transition: transform 0.3s ease;
}

.guide-button:hover .button-icon {
  transform: scale(1.1);
  filter: brightness(0.8);
}

.mute-button:hover .button-icon {
  transform: scale(1.1);
  filter: brightness(0.8);
}
.main-content {
  flex: 1;
  display: flex;
  text-align: center;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 100px;
  position: relative;
overflow: hidden;
}

.image-button {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
}

.image-button img {
  width: 50px; 
  height: auto;
}
.turn-device-screen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.9);
  color: white;
  display: flex;
  justify-content: center;
  align-items: start;
  z-index: 9999;
  font-size: 24px;
  text-align: center;
  p {
    padding-top: 70px;
  }
}

.impressum {
  h2 {
    font-size: 30px;
  }
  p {
    font-size: 23px;
    font-weight: bold;
  }
}

footer {
  text-align: center;
}

@media screen and (orientation: portrait) {
  .turn-device-screen {
    display: block;
  }
  .title,
  .main-content,
  footer {
    display: none;
  }
}

@media (orientation: landscape) {
  .turn-device-screen {
    display: none;
  }
}

@media (orientation: landscape) and (max-width: 1370px) {
  h1 {
    display: none;
  }
  canvas {
    width: 100%;
    height: auto;
  }
  .main-content {
    margin-bottom: 0;
  }
  .overlay {
    display: block !important;
    width: 95%;
    margin-top: -60px;
  }
  .canvas-class button {
    display: none;
  }
  .controls-container {
    left: 50%;
  }
  footer {
    margin-top: -26px;
  }
}

@media (max-height: 480px) {
  canvas {
    height: 100vh;
    /* width: 100vw; */
  }
  .canvas-class {
    gap: 0;
  }
}

@media (min-width: 1324px) {
  .controls-container {
    left: 48%;
  }
}
